# Игнорируем локальное окружение!
.venv/
__pycache__/
.pytest_cache/
.git/

# Игнорируем артефакты, логи и локальные базы
mlruns/
logs/
*.log
*.sqlite
*.db

# Данные тоже не тащим в образ (они должны лежать во внешнем хранилище)
data/