# .env (в .gitignore)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=sber_autopodpiska
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
MLFLOW_TRACKING_URI=mlruns
API_ALLOWED_KEYS=key-one,key-two,key-three

from dotenv import load_dotenv
import os

load_dotenv()

@dataclass
class Database:
    host: str = field(default_factory=lambda: os.getenv("POSTGRES_HOST", "localhost"))
    port: int = field(default_factory=lambda: int(os.getenv("POSTGRES_PORT", "5432")))
    name: str = field(default_factory=lambda: os.getenv("POSTGRES_DB", ""))
    user: str = field(default_factory=lambda: os.getenv("POSTGRES_USER", ""))
    password: str = field(default_factory=lambda: os.getenv("POSTGRES_PASSWORD", ""))