# ============================================================
# PYTHON & SYSTEM
# ============================================================
# Кэш скомпилированного кода Python
__pycache__/
*.py[cod]
*$py.class

# Окружения (Conda / Virtualenv)
.venv/
venv/
env/
ENV/
conda-env/

# Системные файлы Windows / macOS
Thumbs.db
Desktop.ini
.DS_Store

# ============================================================
# IDE (VS Code / PyCharm)
# ============================================================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.egg-info/
__pycache__/
*.pyc
*.gradio


# ============================================================
# TESTING (Pytest)
# ============================================================
# Кэш тестов, который мы чистили
.pytest_cache/
.pytest-of-*/
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# Наш безопасный тестовый путь, если он создается в проекте
/temp_tests/

# ============================================================
# CONFIGURATIONS & CREDENTIALS (Hydra & Secrets)
# ============================================================
# Локальные переменные окружения (пароли от БД, токены)
.env
.env.dev
.env.prod

# Автоматические логи запусков Hydra
outputs/
multirun/
.hydra/

# ============================================================
# DATA & ML ARTIFACTS (MLflow, CatBoost, DVC)
# ============================================================
# Исключаем локальные папки с данными и моделями
# Они должны управляться через DVC или генерироваться кодом!
/data/
/models/
/reports/
/logs/

# Кэш самого CatBoost / XGBoost при обучении
catboost_info/
xgboost_info/

# MLflow локальные трекинговые файлы и SQLite БД
mlruns/
mlflow.db
mlflow.db-journal

# Локальное хранилище DVC (если настроен local_storage)
.dvc/cache/
.dvc/tmp/
# Игнорируем файлы данных, добавленные в DVC, но оставляем .dvc файлы-указатели
/data/**
!/data/**/*.dvc
# Временный кэш интерфейса Gradio
.gradio/

# Бэкапы и чекпоинты Jupyter-ноутбуков
.ipynb_checkpoints/
*/.ipynb_checkpoints/